html {
  background-color: lightskyblue;
}

.rps-game {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Title {
  font-family: Aboreto;
  font-weight: bolder;
  font-size: xx-large;
}

.gameResult {
  font-size: xx-large;
}

.part {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.score-display {
  border: 0.1em solid black;
  background-color: white;
  border-radius: 4px;
  padding: 0.5em;
  font-size: xx-large;
  margin: 3em;
}

.choice-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border: 0.4em solid black;
  border-radius: .4em;
  height: 20vh;
  width: 20vh;
}

.choice-img img {
  height: 90%;
  width: 90%;
}

button {
  padding: 1em 2em;
  margin: 1em;
  font-size: larger;
}

.space {
  visibility: hidden;
}